extends ../layout

block content
  dl
    dt Make
    dd #{car.make}
    dt Model
    dd #{car.model}
    dt Color
    dd #{car.color}
  button
    a(href="/cars") Back
  button
    a(href=`/cars/${car.id}/edit`) Edit
